<tr class="fields">
  <td data-langID="<%= f.object.language_id %>">
    <%= f.label :language_id, "#{f.object.language.name}" %>
  </td>
  <td>
    <%= f.collection_select(:prof_category_id, @categories, :id, :prof_name, {:selected => f.object.prof_category.id}) %>
    <%= f.hidden_field :_destroy, {:class => "killme"} %>
    <%= link_to_remove_fields "Remove", f %>
  </td>
</tr>
