<tr class="fields">
  <td data-langID="<%= f.object.language.id %>" class="pad">
    <%= f.label :language_id, "#{f.object.language.name}" %>
  </td>
  <td class="pad">
    <%= f.collection_select(:prof_category_id, @categories, :id, :prof_name, {:selected => f.object.prof_category.id}) %>
  </td>
  <td class="pad small">
    <%= f.hidden_field :_destroy, {:class => "killme"} %>
    <%= link_to_remove_fields "Remove", f %>
  </td>
  <td class="center">
    <%= f.radio_button :primary, f.object.id, :checked => f.object.primary, :name => "primary", :id => f.object.id %>
    <%#= f.object %>
  </td>
</tr>
