<div id="edit-user">
  <%= form_for @user  do |user_form| %>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-details">
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize.(@user.errors.count, "error")%> prohibited this from being saved</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <header class="info">
        <h2>Edit details for <%= "#{@user.email}" %></h2>
        <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
        <h4><%= @user.role %></h4>
      </header>
  </div>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-show">
      <% if @user.role == 'member' %>
        <%= render 'edit_member', :f => user_form %>
      <% elsif @user.role == 'agent' %>
        <%= render 'edit_agent', :f => user_form %>
      <% end %>

      <div class="btn-group">
        <%= user_form.submit "Go!", :class => "btn btn-default", :type => 'submit', :id => 'user_edit' %>
        <%= flash[:message] %>
      </div>
    </div>
  <% end %>
</div>





