<div class="col-xs-12 col-sm-10 col-sm-offset-1 user-details">
  <%= form_for @user  do |user_form| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize.(@user.errors.count, "error")%> prohibited this from being saved</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <header class="info">
      <h2>Edit details for <%= @user.email %></h2>
      <h4><%= @user.role %></h4>
    </header>

    <% if @user.role == 'member' %>
      <%= render 'edit_member', :f => user_form %>
    <% elsif @user.role == 'agent' %>
      <%= render 'edit_agent', :f => user_form %>
      <%#= render 'search_results', :f => user_form %>
    <% end %>

    <div class="btn-group">
      <%#= user_form.text_field :id, :value =>@user.id, :hidden => true%>
      <%= user_form.submit "Go!", :class => "btn btn-default", :type => 'submit', :id => 'user_edit' %>
      <%= flash[:message] %>
    </div>
  <% end %>
</div>





