<div>
<!-- This is the view -->
  
  <%= form_for @user, remote: true, :method => :post do |user_form| %>

  <form id="edit-user" name="edit-form" class="form-class" accept-charset="UTF-8" autocomplete="off" method="post">
    <header class="info">
      <h2>Edit details for <%= @user.email %></h2>
    </header>
    <ul>
      <li>
        <label class="desc">Name<span id="req_1" class="req">*</span></label>
        <span>
          <%= user_form.text_field :first_name, :type => "text", :class =>"field text", :tabindex =>"1", :required => true %>

          <label for="first-name">First</label>
        </span>
        <span>
          <%= user_form.text_field :last_name, :type => "text", :class =>"field text", :tabindex =>"2", :required => true %>
          <label for="last-name">Last</label>
        </span>      
      </li>
      <li class="">
        <label class="desc">Address<span id="req_2" class="req">*</span></label>
        <div>
          <span class="address-area full">
            <input id="address" name="address-field" type="text" class="field text wide" value size="8" tabindex="3" onkeyup="handleInput(this);" onchange="handleInput(this);" required>
            <label for="address">Area (HK Island, Kowloon, NT)</label>
          </span>
        </div>
      </li>
      
      <li class="leftHalf">
        <label class="desc" id="native-lang-lbl">Native Language<span id="req_1" class="req">*</span></label>
        <div class="full">
          <span class="margin-btm">First language: </span><span id="native-lang">English</span>
        </div>
        <div>
          <!-- a better way to fill a select form -->
          <%= user_form.collection_select(:first_language, @languages, :id, :name, {:class => "firstlang-select"}) %>
        </div>
      </li>
      <li class="rightHalf">
        <div class="row full">
          <label class="wide" id="other-lang-lbl">Are you multilingual?</label>
          <%= user_form.collection_select(:languages, @languages, :id, :name, {:include_blank => "Choose another"}) %>
        </div>
        <div>
          <table>
            <tbody id="other-lang">

              <% @user.language_profs.each do |lprof| %>
                <tr>
                  <td data-langID="<%= lprof.language.id %>">
                    <%= lprof.language.name  %>
                  </td>
                  <td>
                    <%= user_form.collection_select(:prof_categories, @categories, :id, :prof_name, {:selected => lprof.prof_category.id}) %>
                  </td>
                  <td class="remove-lang"><a href="#">Remove</a></td>
                </tr>
              <% end %>

            </tbody>
          </table>
          
        </div>
      </li>

      </ul>


  </form>
  <div class="btn-group"><button class="btn btn-default" type="button">
    <%= user_form.submit "Submit" %></button>
    <%= flash[:message] %>
  </div>
  <% end %>




</div>











