<div id="show-user">
<!-- This is the view -->
  <div class="center">
  <span>
    <%= @user.email %>
  </span>
  <div> Name: <%= "#{@user.first_name} #{@user.last_name}"%></div>
  <span>
    <%= link_to "edit", edit_user_path %>
  </span>
  </div>

    <% if @user.role == 'member' %>
      <%= render 'show_member' %>
    <% elsif @user.role == 'agent' %>
      <%= render 'show_agent' %>
    <% end %>

