<div id="show-user">
<!-- This is the view -->
  <div class="center">
  <span>
    <%= @user.email %>
  </span>
  <div> Name: <%= "#{@user.first_name} #{@user.last_name}"%></div>
  <span>
    <%= link_to "edit", edit_user_path %>
  </span>
  </div>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <table class="table"> 
      <tbody> 
        <tr>
          <th>Languages</th>
          <th>Proficiency</th>
        </tr>
        <tr>
          <td>
            <% @user.languages.each do |lang| %>
              <%= lang.name  %>
            <br>
            <% end %>
          </td>
          <td>
            <% @user.prof_categories.each do |lprof| %>
              <%= lprof.prof_name  %>
              <br>
            <% end %>
          </td>
        </tr>
    </tbody>
    </table>
  </div>
</div>











