<div id="show-user">
<!-- This is the view -->
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 user-details">
    <div>
      <h2><%= "#{@user.first_name} #{@user.last_name}"%></h2>
      <h4><%= @user.role %></h4>
      <div>
        <%= @user.email %><br>
      </div>
    </div>
    <div>
      <%= link_to "Edit", edit_user_path(current_user), :class=>"btn btn-default" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 user-show">
    <table class="table"> 
      <tbody> 

        <% if @user.role == 'member' %>
          <%= render 'show_member' %>
        <% elsif @user.role == 'agent' %>
          <%= render 'show_agent' %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
