<div id="show-user">
<!-- This is the view -->

  <span>
    <%= @user.email %>
  </span>
  <div> Name: <%= "#{@user.first_name} #{@user.last_name}"%></div>
  <span>
    <%= link_to "edit", edit_user_path %>
  </span>


  <table class="table"> 
    <tbody> 
  
      <tr>
        <th>Languages</th>
        <th>Proficiency</th>
      </tr>

      <tr>
        <td>
          <%= @languages.find(@user.first_language).name %><br>
          <% @user.languages.each do |lang| %>
            <%= lang.name  %>
          <br>
          <% end %>
        </td>

        <td>
          First language<br>
          <% @user.prof_categories.each do |lprof| %>
            <%= lprof.prof_name  %>
            <br>
          <% end %>
        </td>

      </tr>

  </tbody>
  </table>
</div>











