<div id="show-company">
<!-- This is the view -->
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-details">
    <h2>
      <%= @company.name %>
    </h2>
    <div> Website: <%= "#{@company.website}" %></div>
    <span>
      <%= link_to "edit", edit_company_path %>
    </span>
  </div>

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 page-show">
    <h2>List of positions for this company</h2>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>  
        </thead>
        <tbody id="company-positions">
          <% @company.positions.each do |pos| %>
            <tr>
              <td><%= pos.name %></td>
              <td><%= pos.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <%#= render 'users/users' %>
  </div>
</div>
