<div class="linkbar">
  <div class="row">
    <div class="col-xs-5 left-align">
      <%= link_to "Users", users_path,  :class => "btn btn-default transparent small" %>
      <%= link_to "Positions", users_path,  :class => "btn btn-default transparent small" %>
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-7 right-align">
      <%= form_tag users_path, :method => 'get', :remote => true do %>
        <%= text_field_tag :search, params[:search], :class => "form-control link-search", :placeholder => "search" %>
        <%= submit_tag "Go", :lang => nil, :class => "btn btn-default transparent small" %>
        <button id="clear-btn" class="btn btn-default transparent small">Clear</button>
      <% end %>
    </div>
  </div>
</div>
